*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000000;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.detel a:hover{
    color: red;
}

.detel{
    margin-left: 8%;
    margin-top: 13%;
}

.detel h1{
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

span{
    color: orange;
}

.detel p{
    color: rgb(255, 255, 255);
    line-height: 22px;
}

.detel a{
    background: rgb(255, 255, 255);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: 120px;
    right: 100px;
}

.images img{
    height: 131%;
    position: absolute;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 15%;
}

.images:hover .girl{
    left: 40%;
}

.about{
    position: relative;
    width: 100%;
    height: 85vh;
    background: #000000;
    color: white;
}

.halo{
    color: white;
    font-size: 20px;
    line-height: 22px;
    margin-left: 8%;
    margin-top: 1%;
}

.about-me {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me img{
    height: auto;
    width: 430px;
    border-radius: 10px;
}

.about-text {
    width: 550px;
}

.about-text h2{
    color: white;
    font-size: 65px;
    text-transform: capitalize;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 4px;
    text-align: justify;
}

.button {
    background-color: black;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
}

.button:hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
}

.certi{
    position: relative;
    width: 100%;
    height: 120vh;
    background: #000000;
    color: white;
}

.tittle h2{
    color: white;
    font-size: 75px;
    width: 100%;
    margin-bottom: 30px auto;
    text-align: center;
}

.sertif img {
    width: 350px;
    height: 300px;
    margin-top: 3%;
}

.sertif h3{
    color: white;
    font-size: large;
}

.box-1, .box-2, .box-3, .box-4{
    margin-left: 190px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 400px;
    height: 350px;
    background-color: goldenrod;
    text-align: center;
    border-radius: 20px;
    float: left;
}

.contact{
    position: relative;
    width: 100%;
    height: 90vh;
    background: black;
}

.container{
    min-height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 20px white;
    border-radius: 15px;
    background: black;
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container form h1{
    color: white;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid white;
}

.container form input::placeholder{
    color: white;
}

.container form #lastName,
.container form #mobile{
    margin-left: 20px;
}

.container form h4{
    color: white;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: white;
}

.container form #button{
    background-color: black;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .5s;
}

#firstName, #lastName, #email, #mobile{
    color: white;
}

.container form #button:hover{
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
    color: red;
}

footer {
    background-color: black;
}

.footerContainer {
    width: 100;
    padding: 70px 30px 20px ;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: red;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerBottom {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color: white;
}